name: ci

on:


jobs:
  tests:
    name: tests
    runs-on: ubuntu-latest

    steps:
      - name: check out code
        uses: actions/checkout@v4

      - name: set up bun
        uses: oven-sh/setup-bun@v2

      - run: Force failure
      - run: (exit 1)
      
